:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}


.workarea-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex: 1;
}

.search-form {
    width: 60%;
}

.example-full-width {
  width: 80%;
}

.example-full-width {
  margin: 5px;
}

.included-communities-container {
  height: 50%;
  border-bottom:1px solid gray ;
}

.parsing-communities-container {
  height: 50%;
}
.search-container {
  width: 100%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-container {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 7px;
}
.groups-result, .users-result {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.groups-result {
  border-right: 1px solid gray;
}

.item-photo-container {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  flex-shrink: 1;
}

.item-name-container {
  font-size: 11px;
  font-weight: bold;
  color: #3f51b5;
}

.one-item-container {
  display: flex;
  align-items: center;
  padding: 7px;
  border-bottom: 1px solid #e7e8ec;
}

.checkbox {
  margin: 10px;
}
