:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}


.workarea-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex: 1;
}

.search-form {
    width: 60%;
}

.example-full-width {
  width: 80%;
}

.example-full-width {
  margin: 5px;
}

.included-communities-container {
  height: 50%;
  border-bottom:1px solid gray ;
}

.parsing-communities-container {
  height: 50%;
}
.search-container {
  width: 100%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkbox {
  margin: 10px;
}

.paginator-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  background-color: white;
}

.paginator {

}

.delimiter {
  height: 100%;
  width: 1px;
  color: gray;
}

.submit-button {
  float: left;
}

.actuator-button {
  position: absolute;
  top: 50px;
  right: 50px;
}
